body, html {
  margin:0;
  padding:0;
  position:relative;
  height:100%;
background: #fd746c; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #fd746c , #ff9068); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #fd746c , #ff9068); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
}
body h1{
  color:#fff;
}
body h2{
  color:#fff;
  margin-bottom: 1.5em;
}
.country-name{
  color:#6D14FF;
}
body table {
  position: relative;
  width: 100%;
  max-height: 450px;
  overflow: scroll;
  table-layout: fixed;
  margin-bottom: -.5em;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #F2F2F2 !important;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f9f9f9 !important;
}

.table-hover > tbody > tr:hover {
    background-color: #eee !important;
}
#neighbors-list {
    display: inline-block;
    color:#A14BFF;
}
#flag-img{
  width:350px;
  height:200px;
}
#map-img{
  width:350px;
  height:200px;
}
.details-box dt{
  text-decoration: underline;
}
.navigations{
  margin-top:1em;
}

/******* Animations ***********/

.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}

.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1.3s ease;
    transition: all 1.3s ease;
}

.fade.ng-enter {
    opacity: 0;
}

.fade.ng-enter-active {
    opacity: 1;
}

.fade.ng-leave {
    opacity: 1;
}

.fade.ng-leave-active {
    opacity: 0;
}

.animate-enter,
.animate-leave {
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    width: 0;
    height: 0;
}
#table-search {
    margin-top: .2em;
    margin-left: .5em;
    font-weight: 400;
}
.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
}