<div class="container" ng-controller="CountriesCtrl">
	<h1 class='text-center'>Countries & Capitals</h1>
	<hr>
	<div class="table-responsive">
		<table class='table table-striped table-hover'>
		<label id="table-search">Search by Country Name: <input ng-model="search.countryName"></label>
			<thead style="background:#FFDFB1;color:#265857">
				<th>Name</th>
				<th>Country Code</th>
				<th>Capital</th>
				<th>Area in km2</th>
				<th>Population</th>
				<th>Continent</th>
			</thead>
			<tbody>
				<tr ng-repeat="country in countries | orderBy:predicate:reverse | filter:search:startsWith" ng-click="showDetail(country)">
					<td>{{country.countryName}}</td>
					<td>{{country.countryCode}}</td>
					<td>{{country.capital}}</td>
					<td>{{(country.areaInSqKm) | number}}</td>
					<td>{{(country.population) | number}}</td>
					<td>{{country.continentName}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="home text-center">
		<a href="/" class="btn btn-sm btn-primary" role='button'>Home</a>
	</div>
</div>