<div class="container" ng-controller="HomeCtrl">
	<h1 class='text-center'>Countries & Capitals App</h1>
	<hr>
	<div class="explanation">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis harum ipsam dicta odio alias pariatur ut numquam, dolores praesentium nostrum expedita quidem vero, eveniet nulla autem vitae provident cumque!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam a, quam nulla sequi sint perspiciatis qui! Dolore, quam, laudantium! Hic ex nihil perspiciatis cum suscipit, illum exercitationem ab obcaecati dignissimos.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptatum quibusdam sequi fugit animi, amet dolorem fuga, modi, aperiam, ipsum totam! Quia temporibus minus suscipit asperiores at incidunt error? Vel.</p>
	</div>
	<div class="browse-countries text-center">
		<a href="/countries" class="btn btn-sm btn-primary" role='button'>Browse Countries</a>
	</div>
</div>