<div class="container" ng-controller="HomeCtrl">
	<h1 class='text-center'>Countries & Capitals App</h1>
	<hr>
	<div class="explanation text-center">
		<div class="container" style="padding:0 auto;">
			<p style="color:#0B5856;font-size:1.2em;">This App is a complete listing of the 196 official independent countries of the world and their capitals</p>
			<div id="googleMap" style="width:1100px;height:450px;"></div>
		</div>
	</div>
	<div class="browse-countries text-center" style="margin-top: 1em;">
		<a href="/countries" class="btn btn-sm btn-primary" role='button'>Browse Countries</a>
	</div>
</div>